<h1> A propos des animaux du zoo :</h1>

{{#each animals}}
    <h2>{{name}}</h2>
    <ul>
        <li>{{class}}</li>
        <li>{{order}}</li>
        <li>{{family}}</li>
        <li>{{species}}</li>
    </ul>
    <img width="40px" src={{url_img}}>
{{/each}}

